.about-info-container, .middle-section {
  display: flex;
}
.about-text {
  p {
    padding-bottom: 20px;
  }
}

.about-img {
  width: 30%;
}

.text-bottom {
  width: 70%;
  padding-right: 30px;
}

.about-title {
  text-align: center;
  margin: 120px;
}

.middle-section {
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 70px;
  p {
    opacity: 0.8;
  }
}

.attr {
  background-color: rgba(161, 209, 252, 0.5);
  padding: 150px 0;
  width: 100%;
  text-align: center;
}
.middle {
  background-color: rgba(161, 209, 252, 0.3);
}
