.project-info-container{
  display: flex;
  margin: 30px 130px;
}

.description {
  width: 75%;
  padding-right: 130px;
}

.project-info {
  width: 20%;
}

// .carousel-height {
//   height: 600px;
// }
