.image-form {
  margin-top: 30px;
  padding: 40px;
  width: 400px;
  height: 300px;
  background: white;
}

.left-section {
  width: 50%;
  padding-right: 50px;
}

.right-section {
  width: 50%;
  overflow: scroll;
  max-height: 100vh;
}

.images-container {
  padding: 0 30px;
}

.img-link {
  position: absolute;
  top: 26px;
  left: 12px;
}

.image-container {
  position: relative;
  padding: 15px 0;
}
