<h1>PROJECT</h1>

<div class="images-container">
  <div class="slider">
  <% @project.images.each do |image| %>
    <div> <%= cl_image_tag image.photo_url, height: 400, crop: :fill %></div>
  <% end %>
  </div>
</div>
<div>
  <%= @project.name %>
  <%= @project.client %>
</div>

<% if current_user %>
  <%= link_to "edit", edit_project_path %>
<% end %>
