<h1>PROJECT</h1>

<div>
  <% @project.images.each do |image| %>
    <%= cl_image_tag image.photo_url %>
  <% end %>
</div>
<div>
  <%= @project.name %>
  <%= @project.client %>
</div>

<%= link_to "edit", edit_project_path %>
