.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  // grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  margin: 40px 80px;
}

.projects-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.projects-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.sections-container {
  display: flex;
  margin: 40px;
}
