.images-container {
  display: flex;
  justify-content: center;
  // width: 60vh;
}

// .bxslider {
//   width: 100%;
// }

// .bx-wrapper {
//     height: 500px !important;
// }

img {
  width: 100%;
}
