.navbar-b {
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-b .navbar-collapse {
  flex-grow: 0;
}

.navbar-b .navbar-brand img {
  width: 150px;
}

.navbar-home {
  background: white;
  .navbar-link {
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }
}
.navbar-color {
  justify-content: space-between;
  background: white;
}

.nav-item {
  text-transform: uppercase;
  padding: 0 40px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: $main-color;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: $main-color;
  opacity: 0.8;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $main-color;
}

.logo-left {
  position: fixed;
  left: 20px;
}


.navbar-link {
  color: #FFF;
  text-decoration: none;
  &:hover {
    color: #FFF;
  }
}
