.navbar-b {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;

}

.navbar-b .navbar-collapse {
  flex-grow: 0;
}

.navbar-b .navbar-brand img {
  width: 150px;
}

.navbar-color {
  background: $main-color;
}

.nav-item {
  text-transform: uppercase;
  padding: 0 40px;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
  opacity: 0.8;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #FFF;
}

// .navbar-home {
//   background: transparent;
//   transition: 0.5s background-color ease;
// }
