<div> <%= cl_image_tag image.photo_url, class: "project-img"%> </div>
<%= link_to edit_image_path(image) do  %>
  <i class="far fa-edit"></i>
<% end %>
<%= link_to image_path(image), method: :delete do %>
  <i class="far fa-times-circle"></i>
<% end %>
